<div class="form">


    <form class="inner" action="/" method="post" enctype="multipart/form-data">
        <h3>Upload Profile Image</h3>
        <input type="file" name="sampleFile" accept="image/*"><br>
        <input type="submit" value="Submit">
    </form>

</div>

<div class="card">
    {{#each result}}

    {{#if this.profile_image}}
        <img class="card_image" src="{{this.profile_image}}" alt="Profile Image">
    {{else}}
        <img class="card_image" src="/img/default.png" alt="Profile Image">
    {{/if}}
    <h1 class="card_title">{{this.name}}</h1>
    <div class="card_job">{{this.job_title}}</div>
    <p class="card_about">
        {{this.description}}
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>
    {{/each}}
</div>